@tailwind base;
@tailwind components;
@tailwind utilities;
@import "tailwindcss/components";
body,
#root {
  width: 100vw;
  height: 100vh;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0px;
}

@font-face {
  font-family: "Segoe Script";
  src: url("/src/assets/fonts/SegoeScript.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* for Chrome, Safari and Opera */
.navbar::-webkit-scrollbar {
  display: none;
}

/* for IE, Edge and Firefox */
.navbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.cardModal > .ant-modal-content,
.cardModal .ant-modal-header {
  background-color: rgb(245, 245, 245);
}

@layer components {
  .flex-center {
    @apply flex items-center justify-center gap-1;
  }

  .btn-dark {
    @apply [&:not(:disabled)]:text-white 
    [&:not(:disabled)]:hover:text-white
    [&:not(:disabled)]:bg-[#121212] 
    [&:not(:disabled):not(.ant-btn-disabled)]:hover:bg-[#414141]
    [&:not(:disabled):not(.ant-btn-disabled)]:hover:border-[#414141]
    [&:not(:disabled):not(.ant-btn-disabled)]:hover:text-white
    [&:not(:disabled)]:border-[#121212]
    [&:not(:disabled)]:hover:bg-[#2e2d2d]
    [&:not(:disabled)]:hover:border-[#2e2d2d];
  }
}
