.app {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f0f0f0;
}

.app {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-left: 200px;
  width: 60vw;
  height: 100vh;
  background-color: red;
}
.aaa {
  position: absolute;
  left: 0;
  /* box-sizing: border-box; */
  /* width: 100%; */
  background-color: blue;
  height: 200px;
  line-height: 200px;
  color: white;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
}

.resizable-div {
  background-color: #4caf50;
  overflow: hidden;
}

.resizer {
  width: 5px;
  height: 200px;
  background-color: #333;
  cursor: ew-resize;
  user-select: none; /* 防止用户选中文字 */
}
